@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color-blue: #4d55f5;
    --primary-color-red: #ff6668;
    --primary-color-grey: #ADADAD;
    --primary-color-yellow: #d2ff58;
}