.profile {
    background-color: #f3f7ff;
}

.profile-name {
    background-color: var(--primary-color-yellow);
    top: -30px;
    position: relative;
}

.circle {
    position: absolute;
    margin-top: -230px;
    margin-left: 199px;
}

.star {
    width: 70px;
    height: 70px;
}

.text-job {
    color: #adadad;
    margin-top: -26px;
}

.linkedin-logo {
    fill: var(--primary-color-blue);
}

.profile-individual, .linkedin-logo {
    cursor: pointer;
}