@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.profile {
    background-color: #f3f7ff;
}

.profile-name {
    background-color: var(--primary-color-yellow);
    top: -30px;
    position: relative;
}

.circle {
    position: absolute;
    height: 5rem;
    width: 5rem;
    z-index: 1;
    margin-left: 11rem;
    margin-top: -9.5rem;
	animation: float 6s ease-in-out infinite;
}

.star {
    width: 70px;
    height: 70px;
    transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.text-job {
    color: #adadad;
    margin-top: -26px;
}

.linkedin-logo {
    fill: var(--primary-color-blue);
}

.profile-individual, .linkedin-logo {
    cursor: pointer;
}

.text-and {
    color: var(--primary-color-blue);
}