.main-hero {
    background-color: var(--primary-color-blue);
}

.hero-image {
    .st0{fill:#F68661;}
	.st1{enable-background:new    ;}
	.st2{fill:#FFFFFF;}
	.st3{fill:#D2FF58;}
	.st4{fill:#FF6668;}
}