@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color-blue: #4d55f5;
    --primary-color-red: #ff6668;
    --primary-color-grey: #ADADAD;
    --primary-color-yellow: #d2ff58;
}

::-webkit-scrollbar {
    width: 20px;
    background-color: transparent;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}